*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f6f8;
  padding: 40px;
  max-width: 1200px;
  place-content: center;
}
.top_nav{
  background-color: #2c3e50;
  box-shadow: 0 10px 25px #000000;
  text-align: center;
 }
.top_nav a{
  color: #ffffff;
}
.navigate{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  margin-bottom: 20px;
  padding: 15px;
  margin: 15px 0;
}

.cv-container{
  margin: auto;
  background: white;
  display: grid;
  grid-template-columns: 300px 1fr;
  box-shadow: 0 10px 25px #000000;
  }
/*leftside*/
.leftside{
  background: #2c3e50;
  color: #ffffff;
  padding: 30px;
}

.profile-photo{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #CCCCCC;
  margin: auto;
  margin-bottom: 20px;
  object-fit: cover; /*прячет лишее*/
  object-position: center;
  box-shadow: 0 10px 25px #000000;
 }
 .leftside h2{
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding-bottom: 5px;
 }
 .leftside ul{
  list-style: none;
  margin-bottom: 25px;
 }
 .leftside li{
  margin: 8px 0;
  font-size: 14px;
 }

 /*rightside*/
 .rightside{
  padding: 30px;

 }
 .header{
  margin-bottom: 25px;
 }
.header h1 {
  color: #2c3e50;
  font-size: 28px;
 }
.header p {
  color: #555555;
  margin-top: 5px;
 }
.section h2{
  font-size: 20px;
  margin-bottom: 1%;
  margin-top: 20px;
  color: #2c3e50;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 5px;
 }
 .section p{
  text-align: justify;
 }
 .job{
  margin-bottom: 25px;
 }
 .job h3{
  font-size: 16px;
 }
 .job span{
  font-size: 13px;
  color: #777777;
 }
 .skills{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
 }
 .skill{
  background: #ecf0f1;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 13px;
 }
 .logo{
  height: 30px;
  width: auto;
 }
 .footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  margin-bottom: 20px;
  padding: 15px;
  margin: 15px 0;
  background-color: #2c3e50;
  box-shadow: 0 10px 25px #000000;
  color: #ffffff;
  text-align: center;

 }
 .footer a{
  color: #ffffff;
 }
