css

* { margin: 0 auto;
    padding: 0 0;
}
*, ::before, ::after {
    box-sizing: border-box;
}
html {
    line-height: 1.15; /*ширина строки 115% от шрифта*/
    text-size-adjust: 100%; /*не масштабировать текст*/
    tab-size: 4; /*табуляция равна 4 пробелам*/
}

body {
   
}
div {
    display: block;
    unicode-bidi: isolate;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
section {
    display: block;
    unicode-bidi: isolate;
}

.container {

    width: 1440px;          /* Точная ширина для >1440px */
    margin: 0  auto;
    padding: 0 0;
     /* Белый фон контейнера */
  background: #FFFFFF;


}
.header {
    background: #ffffff; /*figma ffffff*/
      height: 64px;
      padding: 0 8px;
      margin: 0 auto;
      align-items: center;


}
.menu{
    width: 100%;
    height: fit-content;
    gap: 12px;
    align-items: center;
    /*padding: 12px 0;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.logo-container {

    display: flex;
    justify-content: left;  /* горизонталь */
    align-items: center;      /* вертикаль */
    gap: 8px;              /* Отступ между иконкой и текстом */
    padding: 8px 20px;     /* Top/Bottom 8, Left/Right 20 */
    text-decoration: none; /* Убираем подчёркивание ссылки */
    cursor: pointer; /* Курсор при наведении */
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
    border-radius: 12px;

}
.logo-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;        /* Иконка не сжимается */
}
.logo-text{
    width: fit-content;
    height: fit-content;
    justify-content: left;  /* горизонталь */
    align-items: top;      /* вертикаль */
    color: #181C29;

}

.menu_item {

    display: flex;
    justify-content: left;
    align-items: right;
    padding: 12px 20px;     /* Top/Bottom 12, Left/Right 20 */

}
.item{
    padding: 12px 20px;     /* Top/Bottom 12, Left/Right 20 */
    transition: all 0.3s ease; /* Плавный переход */
    border-radius: 12px;
    text-decoration: none; /* Убираем подчёркивание ссылки */
    color: #181C29;

}
.menu_item a:hover {
    color: rgb(255, 70, 70);
    background:rgba(255, 70, 70, 0.15) ;
}
.Herro_section{

display: flex;
flex-direction: column;
align-items: center;
padding: 60px 8px 0 0;

width: 1440px;
height: 524px;

background: url(image/bg-ball.png), url(image/bg-snow.png), #FF4646;
background-size: 100%, 100% 100%;
border-radius: 20px 20px 0px 0px;
margin: 0 auto;


  
}
.herro_container{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 60px 0px;
gap: 12px;

width: 426px;
max-width: 426px;
height: 404px;
margin: 0 auto;
color: rgb(255, 255, 255);


}

.herro_mc{
  /*  position: absolute;     /* слои лежат поверх контента */
   /* z-index: 1;

    padding: 0px 0px;
    margin: auto;
    color: #FFFFFF;
    width: 426px;
    max-width: 426px;
    height: 24px;
    text-align: center;*/
/* Caption */

width: 426px;
height: 24px;

/* Caption */
font-family: 'Allura';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */
text-align: center;
letter-spacing: 0.05em;

color: #FFFFFF;



}
.herro_header{

   /* position: absolute;
    z-index: 2;
    padding: 36px 0px;
    color: #FFFFFF;
    height: 144px;
    max-width: 426px;
    width: 426px;*/
    /* Header 1 */

width: 426px;
height: 144px;

/* Header 1 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 150%;
/* or 48px */
text-align: center;
letter-spacing: 0.18em;
text-transform: uppercase;

color: #FFFFFF;


}

.herro_button{
 /* Button */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0 20px 0 32px  ;
width: 235px;
height: 56px;
background: #181C29;
border-radius: 20px;
color: #FFFFFF;
transition: all 0.3s ease; /* Плавный переход */


}
.herro_button:hover {
    color: #181C29;
    background-color:#ffffff ;
    cursor: pointer;
}
.herro_hny{
   /*  position: absolute;     /* слои лежат поверх контента */
   /* z-index: 1;

    padding: 260px 0px;
    margin: auto;
    color: #FFFFFF;
    width: 426px;
    max-width: 426px;
    height: 24px;
    text-align: center;*/
/* Hero Section */
/* Caption */

width: 426px;
height: 24px;
text-align: center;
color: #FFFFFF;

}
/*About Section*/

.about_section{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
/*padding: 60px 0px;*/
width: 1440px;
max-width: 1440px;
height: 648px;
background: url(image/bg-snow.png), #FF4646;
border-radius: 0px;
margin: 0 auto;


}

.about_container{

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
width: 1276px;
max-width: 1276px;
height: 528px;
background: #FFFFFF;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0 auto;
}

.text_container{

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 0px 60px;
width: 638px;
height: 528px;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;

}

.about_text{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 60px 0px;
gap: 20px;
width: 426px;
max-width: 426px;
height: 328px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


}
.caption_about{

width: 426px;
height: 24px;
color: #FF4646;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


}

.header_about{

width: 426px;
height: 72px;
color: #181C29;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.about_paragraph{
/* Paragraph */

width: 426px;
height: 72px;
color: #181C29;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


}

.image_container{

/* Image Container */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 638px;
height: 528px;




}

.image_about{
/* santa */

width: 638px;
height: 528px;
background: url(image/santa.png);
border-radius: 20px;

}

/* Slider Section */

.slider_section{
display: flex;
flex-direction: column;
align-items: center;
padding: 60px 0px;
max-width: 1440px;
height: 488px;
background: url(image/bg-snow.png), #FF4646;
margin: 0 auto;
overflow: hidden;

}


.slider_container{
    /* Container */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 20px;
max-width: 1276px;
height: 368px;
margin: 0 auto;

}
.slider_caption{
   /* Container */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px  20px 0;
gap: 12px;
/*width: 426px;
max-width: 426px;
height: 72px;*/


}

.slider_caption_bh{

width: 426px;
height: 24px;
text-align: center;
color: #FFFFFF;


}
.slider_header{
/* Header 2 */

width: 426px;
height: 36px;
text-align: center;
color: #FFFFFF;


}
.slider_row{
    /* Row */

display: flex;
/*flex-direction: column;*/
/*justify-content: center;*/
align-items: center;
/*padding: 0px;*/
max-width: 1276px;
height: 200px;
margin: 0 auto;

}

.row_item{
    /* Slider */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 20px;

max-width: 1993px;

height: 200px;


}

.row_item1{
    /* Slider Text */
width: 184px;
height: 98px;
color: #FFFFFF;


}

.row_item2{
    /* Image Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 200px;
height: 200px;

border-radius: 20px;


}

.item2_img{

    /* Image Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 200px;
height: 200px;

border-radius: 20px;


}

.row_item3{
    /* Slider Text */
width: 330px;
height: 98px;
color: #FFFFFF;


}
.row_item4{
    /* Image Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 200px;
height: 200px;

border-radius: 20px;


}
.item4_img{
    /* Image Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 200px;
height: 200px;

border-radius: 20px;


}
.row_item5{
    /* Slider Text */

width: 224px;
height: 98px;

color: #FFFFFF;


}
.row_item6{
    /* Image Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 200px;
height: 200px;

border-radius: 20px;


}
.item6_img{
    /* Image Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 200px;
height: 200px;

border-radius: 20px;

}
.row_item7{
    /* Slider Text */

width: 315px;
height: 98px;
color: #FFFFFF;

}
.row_item8{
    /* Image Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 200px;
height: 200px;

border-radius: 20px;

}
.item8_img{
    /* Image Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 200px;
height: 200px;

border-radius: 20px;


}

.slider_button_container{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 20px;

width: 1276px;
height: 56px;
margin: 0 auto;



}
    /* Button */
.slider_button_l{
  /* Button */

box-sizing: border-box;
color: #FFFFFF;
font-size: 24px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 56px;
height: 56px;
background-color: #FF4646;
border: 1px solid rgba(255, 255, 255);
border-radius: 20px;
transition: all 0.3s ease; /* Плавный переход */


}

.slider_button_r{
    /* Button */

box-sizing: border-box;
color: #FFFFFF;
font-size: 24px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 56px;
height: 56px;
background-color: #FF4646;
border: 1px solid #FFFFFF;
border-radius: 20px;
transition: all 0.3s ease; /* Плавный переход */

}
.slider_button_l:hover{
    background: #FFFFFF;
    color: #FF4646;
    cursor: pointer;
}

.slider_button_r:hover{
    background: #FFFFFF;
    color: #FF4646;
    cursor: pointer;
}

.best_gift_section{

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 60px 0 8px 0;
width: 1440px;
height: 554px;
background: url(image/bg-snow.png), #FF4646;
margin: 0 auto;
max-width: 1440px;
}

.best_gift_container{
   /* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
/*padding: 0 0px 0 60px;*/
gap: 20px;
width: 1276px;
max-width: 1276px;
height: 434px;

margin: 0 auto;

}

.best_gift_caption{
/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 0px;
gap: 12px;

width: 426px;
max-width: 426px;
height: 72px;

}

.best_gift_caption_bg{

width: 426px;
height: 24px;
text-align: center;
color: #FFFFFF;

}

.best_gift_header{
    /* Header 2 */

width: 426px;
height: 36px;
color: #FFFFFF;
text-align: center;

}

.best_gift_cards{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
align-content: center;
padding: 0px;
gap: 12px;
width: 1276px;
height: 342px;
margin: 0 auto;
max-width: 1276px;

}

.best_gift_card1{
    /* Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 310px;
height: 342px;

background: #ECF3F8;
border-radius: 20px;


}
.best_gift_card1_img{
    /* Image Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 310px;
height: 230px;

}

.card_img1{
    /* image */

width: 310px;
height: 230px;

background: url(image/gift-for-work.png);
background-size: contain;

}

.card_text_container1{
/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;

gap: 8px;

width: 310px;
height: 112px;

background: #FFFFFF;
border-radius: 20px;

}

.card_header1{
/* Header 4 */
padding: 0 0  0 20px ;
width: 76px;
height: 16px;
color: #4361FF;
margin: 0;

 }

.card_text1{
 /* Header 3 */
width: 270px;
height: 24px;
color: #181C29;
padding: 0 0  0 20px ;
margin: 0;
}


.best_gift_card2{
  /* Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 310px;
height: 342px;

background: #ECF3F8;
border-radius: 20px;

}
.best_gift_card2_img{
 /* image */

width: 310px;
height: 230px;

background: url(gift-for-health.png);

}

.card_img2{
    /* image */

width: 310px;
height: 230px;

background: url(image/gift-for-health.png);
background-size: contain;


}
.card_text_container2{
/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;

width: 310px;
height: 112px;

background: #FFFFFF;
border-radius: 20px;



}

.card_header2{
/* Header 4 */

width: 86px;
height: 16px;
padding: 0 0  0 20px ;
color: #06A44F;
margin: 0;


 }

.card_text2{
 /* Header 3 */

width: 270px;
height: 24px;
padding: 0 0  0 20px ;
color: #181C29;
margin: 0;



}

.best_gift_card3{
  /* Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 310px;
height: 342px;

background: #ECF3F8;
border-radius: 20px;


}
.best_gift_card3_img{
 /* Image Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 310px;
height: 230px;


}

.card_img3{
    /* image */

width: 310px;
height: 230px;

background: url(image/gift-for-work.png);
background-size: contain;


}
.card_text_container3{
/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;

width: 310px;
height: 112px;

background: #FFFFFF;
border-radius: 20px;

}
.card_header3{
/* Header 4 */
padding: 0 0  0 20px ;
width: 76px;
height: 16px;
color: #4361FF;
margin: 0;

 }

.card_text3{
 /* Header 3 */

width: 270px;
height: 24px;
padding: 0 0  0 20px ;
color: #181C29;
margin: 0;


}

.best_gift_card4{
  /* Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 310px;
height: 342px;

background: #ECF3F8;
border-radius: 20px;


}
.best_gift_card4_img{
 /* Image Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 310px;
height: 230px;

}

.card_img4{
 /* image */

width: 310px;
height: 230px;

background: url(image/gift-for-harmony.png);
background-size: contain;


}
.card_text_container4{
/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;

gap: 8px;

width: 310px;
height: 112px;

background: #FFFFFF;
border-radius: 20px;



}

.card_header4{
/* Header 4 */

width: 103px;
height: 16px;
padding: 0 0  0 20px ;
color: #FF43F7;
margin: 0;


 }

.card_text4{
/* Header 3 */

width: fit-content;
height: fit-content;
padding: 0 0  0 20px ;
color: #181C29;
margin: 0;




}
    /* CTA Sectoin */
.cta_section{

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
width: 1440px;
height: 668px;
max-width: 1440px;
margin: 0 auto;
background: url(image/bg-snow.png), url(image/bg-forest.png), #FF4646;
background-size: 100%, 100%, cover;
 background-repeat: no-repeat;
 background-position: center;
border-radius: 0px 0px 20px 20px;



}

.cta_container{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 60px 0px;

width: 1276px;
max-width: 1276px;
height: 548px;

border-radius: 20px;



}

.cta_action{
 /* Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 60px 0px;
gap: 20px;

width: 426px;
max-width: 426px;
height: 428px;




}

.cta_header{
   /* Header 2 */

width: 426px;
height: 108px;

color: #FFFFFF;
text-align: center;
margin: 0;


}
.cta_button{

/*padding: 20px 32px;*/
width: 235px;
height: 56px;
background: #181C29;
border-radius: 20px;
color:#FFFFFF;
  cursor: pointer; /* Лучше чем hand */
  transition: background-color 0.3s ease; /* Плавный фон */


}
/*.cta_button_text {
   /* Action Small */
/*display: inline-block;
  padding: 15px 30px;
width: 171px;
height: 16px;
text-decoration: none;


font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 130%;
/* identical to box height, or 16px */
/*text-align: center;
text-transform: uppercase;

color: #FFFFFF;

}*/
.cta_button:hover {
  background-color: #FFFFFF !important;
  color: #181C29 !important;
    cursor: pointer;
    border-radius: 20px;
    width: 235px;
   height: 56px;
 /* padding: 15px 30px;*/
}

.cta_time_container{
    /* Container */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

width: 426px;
height: 104px;


}

.cta_time_caption{
    /* Caption */
width: 426px;
height: 24px;
color: #FFFFFF;
text-align: center;

}
.cta_timer{
    /* Timer */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px 12px;

width: 344px;
height: 72px;

background: rgba(255, 255, 255, 0.4);
border-radius: 20px;

}

.cta_days_container{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 80px;
height: 52px;
margin: 0;



}

.cta_days{
/* Header 2 */

width: 80px;
height: 36px;
text-align: center;

color: #FFFFFF;
margin: 0;


}
.cta_days_t{
    /* Header 4 */

width: 80px;
height: 16px;
text-align: center;
color: #FFFFFF;
margin: 0;

}

.separator{
    /* Separator */

width: 20px;
height: 0px;

border: 1px solid rgba(255, 255, 255, 0.4);
transform: rotate(-90deg);


}
.cta_hours_container{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
margin: 0;
width: 80px;
height: 52px;



}
.cta_hours{
/* Header 2 */

width: 80px;
height: 36px;
text-align: center;
color: #FFFFFF;
margin: 0;


}
.cta_hours_t{
    /* Header 4 */

width: 80px;
height: 16px;
text-align: center;
color: #FFFFFF;
margin: 0;



}

.cta_minutes_container{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 80px;
height: 52px;
margin: 0%;

}
.cta_minutes{
/* Header 2 */

width: 80px;
height: 36px;
text-align: center;
color: #FFFFFF;
margin: 0
;


}
.cta_minutes_t{
    /* Header 4 */

width: 80px;
height: 16px;
text-align: center;
color: #FFFFFF;
margin: 0;

}

.cta_seconds_container{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 80px;
height: 52px;
margin: 0;

}
.cta_seconds{
/* Header 2 */

width: 80px;
height: 36px;
text-align: center;
color: #FFFFFF;
margin: 0;


}
.cta_seconds_t{
    /* Header 4 */

width: 80px;
height: 16px;
text-align: center;
color: #FFFFFF;
margin: 0;


}

.header1{
    font-family: 'Montserrat';
    letter-spacing: 0.18em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    text-align: center;


}
.header2{
    font-family: montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;

}
.header3{
    font-family: montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;

}
.header4{
    font-family: montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

}
.paragraph{
    font-family: montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;

}
.Action_large{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 152%;
/* or 36px */
text-align: center;
letter-spacing: 0.16em;
text-transform: uppercase;

}
.Action_small{
    font-family: montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: .05em;
    text-transform: uppercase;

}
.caption{
    font-family: allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.05em;

}
.slider_text{
    font-family: montserrat;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;

}
.footer{
   /* Footer */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 60px 8px;

width: 1440px;
height: 496px;

background: #FFFFFF;
border-radius: 0px;


}
.footer_container{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 60px;

width: 1276px;
max-width: 1276px;
height: 376px;

}
.contact_container{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 12px;

width: 1276px;
height: 204px;

border-radius: 60px;

}

.contact_tel{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 12px;

width: 417.33px;
height: 204px;

background: #ECF3F8;
border-radius: 20px;


}
.santa_logo{
    /* santa-claus */

width: 80px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.tel_nom{
/* Action Large */

width: 377.33px;
height: 36px;

color: #181C29;

}
.call_us{
/* Header 3 */

width: 377.33px;
height: 24px;

/* Header 3 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 152%;
/* or 24px */
text-align: center;
letter-spacing: 0.08em;
text-transform: uppercase;

color: #181C29;
}
.meet_us_container{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 12px;

width: 417.33px;
height: 204px;

background: #ECF3F8;
border-radius: 20px;
}

.tree_logo{
    /* christmas-tree */

width: 80px;
height: 80px;


}

.meet_text{
    /* Action Large */

width: 377.33px;
height: 36px;

/* Action Large */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 152%;
/* or 36px */
text-align: center;
letter-spacing: 0.16em;
text-transform: uppercase;

color: #181C29;


}
.meet_us{
    /* Header 3 */

width: 377.33px;
height: 24px;

/* Header 3 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 152%;
/* or 24px */
text-align: center;
letter-spacing: 0.08em;
text-transform: uppercase;

color: #181C29;


}
.mail_container{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 12px;

width: 417.33px;
height: 204px;

background: #ECF3F8;
border-radius: 20px;

}
.snake_logo{
    /* snake */

width: 80px;
height: 80px;

}
.mail_text{
    /* Action Large */

width: 377.33px;
height: 36px;

/* Action Large */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 152%;
/* or 36px */
text-align: center;
letter-spacing: 0.16em;
text-transform: uppercase;

color: #181C29;


}

.mail_us{
    /* Header 3 */

width: 377.33px;
height: 24px;

/* Header 3 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 152%;
/* or 24px */
text-align: center;
letter-spacing: 0.08em;
text-transform: uppercase;

color: #181C29;

}
.media_container{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;

width: 1276px;
height: 112px;

}

.social_container{
    /* Socials */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 196px;
height: 40px;

}

.social{
    /* Social Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;

width: 40px;
height: 40px;

}
.social_svg{

/* Social Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;

width: 40px;
height: 40px;
}

.copyright{
    /* Paragraph */

width: 301px;
height: 24px;

/* Paragraph */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 148%;
/* identical to box height, or 24px */
text-align: center;

color: #181C29;


}


.made{
    /* Caption */

width: 295px;
height: 24px;

/* Caption */
font-family: 'Allura';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */
text-align: center;

color: #181C29;

}




